<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Bytedance</key>
	<dict>
		<key>Roles</key>
		<array>
			<dict>
				<key>name</key>
				<string>擎苍 2.0	</string>
				<key>voiceName</key>
				<string>BV701_V2_streaming</string>
				<key>attribute</key>
				<string>男 - 成年</string>
				<key>language</key>
				<string>中文(普通话，简体)</string>
				<key>detail</key>
				<string>【10种情感】旁白-舒缓、旁白-沉浸、平和、开心、悲伤、生气、害怕、厌恶、惊讶、哭腔	</string>
				<key>scene</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>阳光青年</string>
				<key>voiceName</key>
				<string>BV123_streaming</string>
				<key>attribute</key>
				<string>男 - 成年</string>
				<key>language</key>
				<string>中文(普通话，简体)</string>
				<key>detail</key>
				<string>【7种情感】平和、开心、悲伤、生气、害怕、厌恶、惊讶</string>
				<key>scene</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>儒雅青年</string>
				<key>voiceName</key>
				<string>BV102_streaming</string>
				<key>attribute</key>
				<string>男 - 成年</string>
				<key>language</key>
				<string>中文(普通话，简体)</string>
				<key>detail</key>
				<string>【8种情感】旁白、平和、开心、悲伤、生气、害怕、厌恶、惊讶</string>
				<key>scene</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>解说小帅-多情感</string>
				<key>voiceName</key>
				<string>BV437_streaming</string>
				<key>attribute</key>
				<string>男 - 成人</string>
				<key>language</key>
				<string>中文(普通话，简体)</string>
				<key>detail</key>
				<string>【7种情感】通用、开心、悲伤、生气、害怕、厌恶、惊讶</string>
				<key>scene</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>影视解说小美</string>
				<key>voiceName</key>
				<string>BV412_streaming</string>
				<key>attribute</key>
				<string>女 - 年轻人</string>
				<key>language</key>
				<string>中文(普通话，简体)</string>
				<key>detail</key>
				<string>不支持情感</string>
				<key>scene</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>灿灿 2.0	</string>
				<key>voiceName</key>
				<string>BV700_V2_streaming</string>
				<key>attribute</key>
				<string>女 - 成年</string>
				<key>language</key>
				<string>中文(普通话，简体)</string>
				<key>detail</key>
				<string>【22种情感/风格】通用、愉悦、抱歉、嗔怪、开心、愤怒、惊讶、厌恶、悲伤、害怕、哭腔、客服、专业、严肃、傲娇、安慰鼓励、绿茶、娇媚、情感电台、撒娇、瑜伽、讲故事</string>
				<key>scene</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>知性女声</string>
				<key>voiceName</key>
				<string>BV009_streaming</string>
				<key>attribute</key>
				<string>女 - 成年</string>
				<key>language</key>
				<string>中文(普通话，简体)</string>
				<key>detail</key>
				<string>【5种情感/风格】通用、愉悦、抱歉、专业、严肃</string>
				<key>scene</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>小萝莉</string>
				<key>voiceName</key>
				<string>BV064_streaming</string>
				<key>attribute</key>
				<string>女 - 儿童</string>
				<key>language</key>
				<string>中文(普通话，简体)</string>
				<key>detail</key>
				<string>【7种情感】通用、开心、悲伤、生气、害怕、厌恶、惊讶</string>
				<key>scene</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>懒小羊</string>
				<key>voiceName</key>
				<string>BV426_streaming</string>
				<key>attribute</key>
				<string>动漫</string>
				<key>language</key>
				<string>中文(普通话，简体)</string>
				<key>detail</key>
				<string>不支持情感</string>
				<key>scene</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>动漫海绵</string>
				<key>voiceName</key>
				<string>BV063_streaming</string>
				<key>attribute</key>
				<string>动漫</string>
				<key>language</key>
				<string>不支持情感</string>
				<key>detail</key>
				<string></string>
				<key>scene</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>动漫海星</string>
				<key>voiceName</key>
				<string>BV417_streaming</string>
				<key>attribute</key>
				<string>动漫</string>
				<key>language</key>
				<string>不支持情感</string>
				<key>detail</key>
				<string></string>
				<key>scene</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>动漫小新</string>
				<key>voiceName</key>
				<string>BV050_streaming</string>
				<key>attribute</key>
				<string>动漫</string>
				<key>language</key>
				<string>不支持情感</string>
				<key>detail</key>
				<string></string>
				<key>scene</key>
				<string></string>
			</dict>
		</array>
		<key>Styles</key>
		<array>
			<dict>
				<key>style</key>
				<string>pleased</string>
				<key>detail</key>
				<string>愉悦</string>
			</dict>
			<dict>
				<key>style</key>
				<string>sorry</string>
				<key>detail</key>
				<string>抱歉</string>
			</dict>
			<dict>
				<key>style</key>
				<string>annoyed</string>
				<key>detail</key>
				<string>嗔怪</string>
			</dict>
			<dict>
				<key>style</key>
				<string>happy</string>
				<key>detail</key>
				<string>开心</string>
			</dict>
			<dict>
				<key>style</key>
				<string>sad</string>
				<key>detail</key>
				<string>悲伤</string>
			</dict>
			<dict>
				<key>style</key>
				<string>angry</string>
				<key>detail</key>
				<string>愤怒</string>
			</dict>
			<dict>
				<key>style</key>
				<string>scare</string>
				<key>detail</key>
				<string>害怕</string>
			</dict>
			<dict>
				<key>style</key>
				<string>hate</string>
				<key>detail</key>
				<string>厌恶</string>
			</dict>
			<dict>
				<key>style</key>
				<string>surprise</string>
				<key>detail</key>
				<string>惊讶</string>
			</dict>
			<dict>
				<key>style</key>
				<string>tear</string>
				<key>detail</key>
				<string>哭腔</string>
			</dict>
			<dict>
				<key>style</key>
				<string>novel_dialog</string>
				<key>detail</key>
				<string>平和</string>
			</dict>
		</array>
	</dict>
	<key>Microsoft</key>
	<dict>
		<key>Roles</key>
		<array>
			<dict>
				<key>name</key>
				<string>晓悠</string>
				<key>voiceName</key>
				<string>zh-CN-XiaoyouNeural</string>
				<key>attribute</key>
				<string>女 - 儿童</string>
				<key>language</key>
				<string>中文(普通话，简体)</string>
				<key>detail</key>
				<string>天使般的清晰声音，可以应用于许多儿童相关场景。</string>
				<key>scene</key>
				<string>旁白、清脆、明亮、愉悦</string>
			</dict>
			<dict>
				<key>name</key>
				<string>晓双</string>
				<key>voiceName</key>
				<string>zh-CN-XiaoshuangNeural</string>
				<key>attribute</key>
				<string>女 - 儿童</string>
				<key>language</key>
				<string>中文(普通话，简体)</string>
				<key>detail</key>
				<string>可爱、愉悦的声音，可应用于许多儿童相关场景。</string>
				<key>scene</key>
				<string>旁白、清脆、明亮、愉悦</string>
			</dict>
			<dict>
				<key>voiceName</key>
				<string>zh-CN-XiaoxiaoNeural</string>
				<key>name</key>
				<string>晓晓</string>
				<key>attribute</key>
				<string>女 - 年轻人</string>
				<key>language</key>
				<string>中文(普通话，简体)</string>
				<key>detail</key>
				<string>活泼、温暖的声音，具有多种场景风格和情感。</string>
				<key>scene</key>
				<string>助理、动画、旁白、温暖、有声读物</string>
			</dict>
			<dict>
				<key>voiceName</key>
				<string>zh-CN-XiaochenMultilingualNeural</string>
				<key>name</key>
				<string>晓辰</string>
				<key>attribute</key>
				<string>女 - 年轻人</string>
				<key>language</key>
				<string>中文(普通话，简体)</string>
				<key>detail</key>
				<string>休闲、放松的声音，用于自发性对话和会议听录。</string>
				<key>scene</key>
				<string>友好、随意、播客、聊天、实时广告</string>
			</dict>
			<dict>
				<key>voiceName</key>
				<string>zh-CN-XiaoruiNeural</string>
				<key>name</key>
				<string>晓睿</string>
				<key>attribute</key>
				<string>女 - 老年</string>
				<key>language</key>
				<string>中文(普通话，简体)</string>
				<key>detail</key>
				<string>成熟、睿智的声音，具有丰富的情感，适合音频书籍。</string>
				<key>scene</key>
				<string>自信、情感、音频书籍、旁白</string>
			</dict>
			<dict>
				<key>voiceName</key>
				<string>zh-CN-YunyangNeural</string>
				<key>name</key>
				<string>云扬</string>
				<key>attribute</key>
				<string>男 - 成人</string>
				<key>language</key>
				<string>中文(普通话，简体)</string>
				<key>detail</key>
				<string>专业、流利的声音，具有多种场景风格。新闻、有声小说。</string>
				<key>scene</key>
				<string>资讯、旁白、客户服务、新闻</string>
			</dict>
			<dict>
				<key>voiceName</key>
				<string>zh-CN-YunxiNeural</string>
				<key>name</key>
				<string>云希</string>
				<key>attribute</key>
				<string>男 - 年轻人</string>
				<key>language</key>
				<string>中文(普通话，简体)</string>
				<key>detail</key>
				<string>活泼、阳光的声音，具有丰富的情感，可用于许多对话场景。</string>
				<key>scene</key>
				<string>聊天、有声读物、旁白、男青年</string>
			</dict>
			<dict>
				<key>voiceName</key>
				<string>zh-CN-YunyeNeural</string>
				<key>name</key>
				<string>云野</string>
				<key>attribute</key>
				<string>男 - 老年</string>
				<key>language</key>
				<string>中文(普通话，简体)</string>
				<key>detail</key>
				<string>成熟、放松的声音，具有多种情感，适合音频书籍。</string>
				<key>scene</key>
				<string>随意、平静、旁白</string>
			</dict>
			<dict>
				<key>voiceName</key>
				<string>zh-CN-YunxiaNeural</string>
				<key>name</key>
				<string>云夏</string>
				<key>attribute</key>
				<string>男 - 儿童</string>
				<key>language</key>
				<string>中文(普通话，简体)</string>
				<key>detail</key>
				<string>开朗、友善、富有感情的声音，给每一次互动带来温暖和感觉。</string>
				<key>scene</key>
				<string>聊天、愉悦、情感</string>
			</dict>
		</array>
		<key>Styles</key>
		<array>
			<dict>
				<key>style</key>
				<string>advertisement_upbeat</string>
				<key>detail</key>
				<string>用兴奋和精力充沛的语气推广产品或服务。</string>
			</dict>
			<dict>
				<key>style</key>
				<string>angry</string>
				<key>detail</key>
				<string>表达生气和厌恶的语气。</string>
			</dict>
			<dict>
				<key>style</key>
				<string>calm</string>
				<key>detail</key>
				<string>以沉着冷静的态度说话。 语气、音调和韵律与其他语音类型相比要统一得多。</string>
			</dict>
			<dict>
				<key>style</key>
				<string>chat</string>
				<key>detail</key>
				<string>表达轻松随意的语气。</string>
			</dict>
			<dict>
				<key>style</key>
				<string>cheerful</string>
				<key>detail</key>
				<string>表达积极愉快的语气。</string>
			</dict>
			<dict>
				<key>style</key>
				<string>depressed</string>
				<key>detail</key>
				<string>调低音调和音量来表达忧郁、沮丧的语气。</string>
			</dict>
			<dict>
				<key>style</key>
				<string>documentary-narration</string>
				<key>detail</key>
				<string>用一种轻松、感兴趣和信息丰富的风格讲述纪录片，适合纪录片、专家评论和类似内容。</string>
			</dict>
			<dict>
				<key>style</key>
				<string>empathetic</string>
				<key>detail</key>
				<string>表达关心和理解。</string>
			</dict>
			<dict>
				<key>style</key>
				<string>newscast-formal</string>
				<key>detail</key>
				<string>以正式、自信和权威的语气发布新闻。</string>
			</dict>
			<dict>
				<key>style</key>
				<string>serious</string>
				<key>detail</key>
				<string>表达严肃和命令的语气。 说话者的声音通常比较僵硬，节奏也不那么轻松。</string>
			</dict>
			<dict>
				<key>style</key>
				<string>sports_commentary_excited</string>
				<key>detail</key>
				<string>用快速且充满活力的语气播报体育赛事精彩瞬间。</string>
			</dict>
			<dict>
				<key>style</key>
				<string>terrified</string>
				<key>detail</key>
				<string>表达一种害怕的语气，语速快且声音颤抖。听起来说话人处于不稳定的疯狂状态。</string>
			</dict>
			<dict>
				<key>style</key>
				<string>unfriendly</string>
				<key>detail</key>
				<string>表达一种冷淡无情的语气。</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
